secretStores:
- name: hbang-homelab-secrets
  namespace: hbang-resources
  provider:
    infisical:
      hostAPI: https://app.infisical.com
      auth:
        universalAuthCredentials:
          clientId:
            key: clientId
            namespace: hbang-resources
            name: universal-auth-credentials
          clientSecret:
            key: clientSecret
            namespace: hbang-resources
            name: universal-auth-credentials
      secretsScope:
        projectSlug: hbang-homeloab-secrets-d-tl-n
        environmentSlug: dev
        secretsPath: /homelab
        recursive: false
        expandSecretReferences: false

externalSecrets:
- name: infisical-managed-secrets
  namespace: hbang-resources
  secretStoreRef:
    kind: SecretStore
    name: hbang-homelab-secrets
  target:
    name: cloudflare-external-secret
  data:
  - secretKey: cloudflareAccountID
    remoteRef:
      key: cloudflareAccountID
  - secretKey: cloudflareAPIToken
    remoteRef:
      key: cloudflareAPIToken
  - secretKey: cloudflareTunnelName
    remoteRef:
      key: cloudflareTunnelName
- name: argocd-oauth
  namespace: hbang-resources
  secretStoreRef:
    kind: SecretStore
    name: hbang-homelab-secrets
  target:
    name: argocd-oauth
    template:
      metadata:
        labels:
          app.kubernetes.io/part-of: "argocd"
        annotations:
          reflector.v1.k8s.emberstack.com/reflection-allowed: "true"
          reflector.v1.k8s.emberstack.com/reflection-allowed-namespaces: "argocd"
          reflector.v1.k8s.emberstack.com/reflection-auto-enabled: "true"
          reflector.v1.k8s.emberstack.com/reflection-auto-namespaces: "argocd"
  data:
  - secretKey: dex.github.clientSecret
    remoteRef:
      key: dex.github.clientSecret
  - secretKey: dex.github.clientID
    remoteRef:
      key: dex.github.clientID
