clusterSecretStores:
- name: hbang-homelab-secrets
  provider:
    infisical:
      hostAPI: https://app.infisical.com
      auth:
        universalAuthCredentials:
          clientId:
            key: clientId
            namespace: hbang-resources
            name: universal-auth-credentials
          clientSecret:
            key: clientSecret
            namespace: hbang-resources
            name: universal-auth-credentials
      secretsScope:
        projectSlug: hbang-homeloab-secrets-d-tl-n
        environmentSlug: dev
        secretsPath: /homelab
        recursive: false
        expandSecretReferences: false

secretStores: []

externalSecrets:
- name: infisical-managed-secrets
  namespace: hbang-resources
  secretStoreRef:
    kind: ClusterSecretStore
    name: hbang-homelab-secrets
  target:
    name: cloudflare-external-secret
  data:
  - secretKey: cloudflareAccountID
    remoteRef:
      key: cloudflareAccountID
  - secretKey: cloudflareAPIToken
    remoteRef:
      key: cloudflareAPIToken
  - secretKey: cloudflareTunnelName
    remoteRef:
      key: cloudflareTunnelName
- name: argocd-oauth
  namespace: argocd
  secretStoreRef:
    kind: ClusterSecretStore
    name: hbang-homelab-secrets
  target:
    name: argocd-oauth
    template:
      metadata:
        labels:
          app.kubernetes.io/part-of: "argocd"
  data:
  - secretKey: dex.github.clientSecret
    remoteRef:
      key: dex.github.clientSecret
  - secretKey: dex.github.clientID
    remoteRef:
      key: dex.github.clientID
- name: argo-workflows-sso
  namespace: argocd
  secretStoreRef:
    kind: ClusterSecretStore
    name: hbang-homelab-secrets
  target:
    name: argo-workflows-sso
  data:
  - secretKey: client-id
    remoteRef:
      key: argo-workflow-client-id
  - secretKey: client-secret
    remoteRef:
      key: argo-workflow-client-secret
