
namespace: argocd

apps:
  argocd:
    enabled: true
    targetRevision: 8.2.7
    name: argocd
    chart: argo-cd
    namespace: argocd
    repoURL: https://argoproj.github.io/argo-helm
    values:
      namespaceOverride: argocd
      applicationSet:
        replicas: 2
      controller:
        replicas: 1
      dex:
        enabled: true
        env:
        - name: ARGO_WORKFLOWS_SSO_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: argo-workflows-sso
              key: client-secret
      redis-ha:
        enabled: true
      repoServer:
        replicas: 2
      global:
        domain: argocd.hbang-k8s.com
      configs:
        params:
          server.insecure: true
        cm:
          dex.config: |
            staticClients:
            - id: argo-workflows-sso
              name: Argo Workflow
              redirectURIs:
              - https://argo-workflows.hbang-k8s.com/oauth2/callback
              secretEnv: ARGO_WORKFLOWS_SSO_CLIENT_SECRET
            connectors:
            - type: github
              id: github
              name: GitHub
              config:
                clientID: $argocd-oauth:dex.github.clientID
                clientSecret: $argocd-oauth:dex.github.clientSecret
                orgs:
                - name: hbang-homelab
                  teams:
                  - hbang-argocd
        rbac:
          policy.csv: |
            g, hbang-homelab:hbang-argocd, role:admin
      server:
        replicas: 2
        ingress:
          enabled: true
          ingressClassName: cloudflare-tunnel

  argoWorkflows:
    enabled: true
    targetRevision: 0.46.2
    name: argo-workflows
    chart: argo-workflows
    namespace: argocd
    repoURL: https://argoproj.github.io/argo-helm
    syncOptions:
    - ServerSideApply=true
    values:
      crds:
        full: true
      namespaceOverride: argocd
      server:
        enabled: true
        authModes:
        - sso
        replicas: 2
        ingress:
          enabled: true
          ingressClassName: cloudflare-tunnel
          hosts:
          - argo-workflows.hbang-k8s.com
        sso:
          enabled: true
          issuer: https://argocd.hbang-k8s.com/api/dex
          clientId:
            name: argo-workflows-sso
            key: client-id
          clientSecret:
            name: argo-workflows-sso
            key: client-secret
          redirectUrl: https://argo-workflows.hbang-k8s.com/oauth2/callback

  bpfSimulator:
    enabled: true
    type: helm
    targetRevision: main
    repoURL: https://gitlab.com/hbang3/bpf_simulator.git
    path: k8s/helm-chart
    name: bpf-simulator
    namespace: bpf-simulator
    values: {}

  certManager:
    enabled: true
    targetRevision: 1.18.2
    repoURL: https://charts.jetstack.io
    chart: cert-manager
    name: cert-manager
    namespace: hbang-resources
    values:
      installCRDs: true
      replicaCount: 2
      webhook:
        replicaCount: 2
      cainjector:
        replicaCount: 2

  cloudflareTunnelIngressController:
    enabled: true
    repoURL: https://helm.strrl.dev
    chart:  cloudflare-tunnel-ingress-controller
    targetRevision: 0.0.*
    name: cloudflare-tunnel-ingress-controller
    namespace: hbang-resources
    values:
      cloudflare:
        secretRef:
          name: cloudflare-external-secret
          accountIDKey: cloudflareAccountID
          tunnelNameKey: cloudflareTunnelName
          apiTokenKey: cloudflareAPIToken
      ingressClass:
        name: cloudflare-tunnel
        controllerValue: strrl.dev/cloudflare-tunnel-ingress-controller
        isDefaultClass: true
      image:
        repository: cr.strrl.dev/strrl/cloudflare-tunnel-ingress-controller
        pullPolicy: IfNotPresent
        tag: ""
      replicaCount: 3

  cilium:
    enabled: true
    targetRevision: 1.18.2
    name: cilium
    chart: cilium
    namespace: kube-system
    repoURL: https://helm.cilium.io
    values:
      bpf:
        masquerade: true
      ipv6:
        enabled: false
      kubeProxyReplacement: true
      l2announcements:
        enabled: true
      ingressController:
        enabled: false
        default: false

  dex:
    enabled: false
    targetRevision: 0.23.0
    name: dex
    chart: dex
    namespace: hbang-resources
    repoURL: https://charts.dexidp.io
    values:
      config:
        storage:
          type: memory
        ingress:
          enabled: true
          hosts:
          - host: dex.hbang-k8s.com
            paths:
            - path: /

  externalSecrets:
    enabled: true
    repoURL: https://external-secrets.io
    chart: external-secrets
    targetRevision: 0.19.1
    serverSideApply: true
    namespace: hbang-resources
    name: external-secrets
    syncOptions:
    - ServerSideApply=true
    values:
      replicaCount: 2
      certController:
        replicaCount: 2
      webhook:
        replicaCount: 2

  localStorageClass:
    enabled: false
    type: helm
    repoURL: https://github.com/Hyunsuk-Bang/homelab.git
    name: local-storage-class
    path: helm/local-storage-class
    targetRevision: master

  nfsCsiDriver:
    enabled: false
    type: helm
    repoURL: https://raw.githubusercontent.com/kubernetes-csi/csi-driver-nfs/master/charts
    chart: csi-driver-nfs
    targetRevision: 4.9.0
    name: csi-driver-nfs
    namespace: hbang-resources
    values:
      storageClass:
        create: true
        name: nfs-csi
        annotations:
          storageclass.kubernetes.io/is-default-class: "true"
        parameters:
          server: 192.168.1.69
          share: /srv/nfs/proxmox
          mountPermissions: "0"
        reclaimPolicy: Delete
        volumeBindingMode: Immediate
        mountOptions:
        - nfsvers=4.1

  openebs:
    enabled: true
    type: helm
    repoURL: https://openebs.github.io/lvm-localpv
    chart: lvm-localpv
    name: openebs-lvmlocalpv
    namespace: openebs
    targetRevision: 1.8.0
    values:
      serviceMonitor:
        enabled: true

  prometheusStack:
    enabled: true
    type: helm
    repoURL: https://prometheus-community.github.io/helm-charts
    chart: kube-prometheus-stack
    targetRevision: 77.12.0
    name: prometheus-stack
    namespace: prometheus
    syncOptions:
    - ServerSideApply=true
    values:
      prometheus:
        ingress:
          enabled: true
          ingressClassName: cloudflare-tunnel
          hosts:
          - prometheus.hbang-k8s.com
      grafana:
        ingress:
          enabled: true
          hosts:
          - monitoring.hbang-k8s.com

  postgresOperator:
    enabled: false
    type: helm
    repoURL: https://cloudnative-pg.github.io/charts
    chart: cloudnative-pg
    targetRevision: 0.25.0
    serverSideApply: true
    name: cloudnative-pg-operator
    namespace: hbang-resources
    syncOptions:
    - ServerSideApply=true
    values:
      crd:
        create: true
      replicaCount: 2

  secretAddons:
    enabled: true
    type: helm
    repoURL: https://github.com/Hyunsuk-Bang/homelab.git
    name: secret-addons
    path: helm/secret-addons
    targetRevision: master
    namespace:  hbang-resources

  storageClassAddons:
    enabled: true
    type: helm
    repoURL: https://github.com/Hyunsuk-Bang/homelab.git
    name: storage-class-addons
    path: helm/storage-class-addons
    targetRevision: master
    namespace: hbang-resources

  vault:
    enabled: false
    type: helm
    repoURL: https://helm.releases.hashicorp.com
    chart: vault
    targetRevision: 0.30.1
    name: vualt
    namespace: hbang-resources
    values:
      server:
        ha:
          enabled: true
          replicas: 3
          raft:
            enabled: true
            setNodeId: true
      ingress:
        enabled: true
        ingressClassName: cloudflare-tunnel
        hosts:
        -  host: vault.hbang-k8s.com

  reflector:
    enabled: true
    type: helm
    repoURL: https://emberstack.github.io/helm-charts
    chart: reflector
    targetRevision: 9.1.25
    name: reflector
    namespace: hbang-resources
    values: {}
